.navbar{
    justify-content: space-around;
   background-color: #f9f9f9;
   height: 7.8rem;
}
.dropdown{
    position: relative;
    display: inline-block;
    transition: 1s smooth;
}
.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.banner{
    position: relative;
    width: 100%;
    height: 100vh;
}
.banner video{
    width: 100%;
    height: 614px;
    position: relative;
    object-fit: cover;
}
.banner .content{
    position: absolute;
    top: 25%;
    left: 40%;
    text-align: center;
    color: white;
}
.banner .content .para{
    font-size:  30px;
}
.banner .content .head{
    font-size: 55px;
    font-weight: bolder;
}
.banner .content .btn-story{
    padding: 10px 30px;
    border: none;
    border-radius: 20px;
    color: #f9f9f9;
    background-color: #1631fa;

}
.banner .content .btn-story:hover{
    background-color: #030d57;
}

.message-1{
    width: 100%;
    height: 52vh;
    align-items: center;
    text-align: center;
}
.message-1 .box{
    width: 70%;
    margin-left: 15%;
    border: 0.5px solid black;
    border-radius: 5px;
    padding: 3rem 5rem;
}

.message-1 .box .head-1{
    color: #030d57;
}
.message-1 .box .bor-buttom{
    border-bottom: 2px solid rgba(0, 0, 0, 0.146);
    width: 80px;
    margin-left: 45%;
    margin-top: 15px;
} 

.message-1 .box .para-1{
    margin-top: 10px;
}

.message-1 .box .head-1 h4{
    font-size: 25px;
}

.retreates{
    width: 100%;
    height: 100vh;
}
.retreates h1{
    color: #030d57;
    text-align: center;
}
.retreates hr{
    width: 8%;
    margin-left: 46%;
}
.retreates .main-yoga{
    display: flex;
    gap: 10px;
    width: 80%;
    margin-left: 10%;
}

.retreates .main-yoga .yoga{
    width: 400px;
}

.retreates .main-yoga .yoga .content{
    text-align: center;
    margin-top: 20px;
    padding: 0 30px;
}

.spa-bath{
    background: url('../imgae/poop.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 70vh;
}
.spa-bath .text-1{
    width: 500px;
    height: 400px;
    position: absolute;
    top: 25%;
    left: 50%;
    text-align: center;
}
.spa-bath .text-1 h1{
    font-size: 60px;
    font-weight: bolder;
    color: #fff;
    padding-bottom: 20px;
}
.spa-bath .text-1 p{
    color: #fff;
    font-size: 20px;
    padding-bottom: 20px;
}

.spa-bath .text-1 .spa-btn{
    padding: 10px 20px;
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 22px;
    transition: 0.8s;
}

.spa-bath .text-1 .spa-btn:hover{
    background-color: #fff;
    color: black;
}

.rest-relax{
    display: flex;
    gap: 50px;
    width: 80%;
    margin-left:10%;
    height: 80vh;
    align-items: center;
}
.rest-relax .text-2{
    width: 500px;
}
.rest-relax .text-2 h1{
    color: #030d57;
    font-size: 50px;
}
.rest-relax .text-2 p{
    font-size: 18px;
    color: rgb(116, 99, 99);
}
.rest-relax .text-2 .rest-btn{
    padding: 10px 30px;
    background-color: transparent;
    color: #030d57;
    border: 1px solid #030d57;
    border-radius: 22px;
    transition: 0.8s;
}
.rest-relax .text-2 .rest-btn:hover{
    background-color: #030d57;
    color: #fff;
}
.rest-relax .text-3{
    width: 600px;
    border-radius: 5px;
}

.expore-nature{
    background: url('../imgae/nature.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 70vh;   
}
.expore-nature .text-1{
    width: 500px;
    height: 400px;
    position: absolute;
    top: 25%;
    left: 50%;
    text-align: center;   
}
.expore-nature .text-1 h1{
    font-size: 60px;
    font-weight: bolder;
    color: #fff;
    padding-bottom: 20px;
}
.expore-nature .text-1 p{
    color: #fff;
    font-size: 20px;
    padding-bottom: 20px;
}

.expore-nature .text-1 .spa-btn{
    padding: 10px 20px;
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 22px;
    transition: 0.8s;
}

.expore-nature .text-1 .spa-btn:hover{
    background-color: #fff;
    color: black;
}

.organic{
    display: flex;
    gap: 50px;
    width: 80%;
    margin-left:10%;
    height: 80vh;
    align-items: center;
}
.organic .text-2{
    width: 500px;
}
.organic .text-2 h1{
    color: #030d57;
    font-size: 50px;
}
.organic .text-2 p{
    font-size: 18px;
    color: rgb(116, 99, 99);
}
.organic .text-2 .rest-btn{
    padding: 10px 30px;
    background-color: transparent;
    color: #030d57;
    border: 1px solid #030d57;
    border-radius: 22px;
    transition: 0.8s;
}
.organic .text-2 .rest-btn:hover{
    background-color: #030d57;
    color: #fff;
}
.organic .text-3{
    width: 600px;
    border-radius: 5px;
}

.reserve{
    background: url('../imgae/adve.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 70vh;   
}
.reserve .text-1{
    width: 800px;
    height: 400px;
    position: absolute;
    top: 25%;
    left: 30%;
    text-align: center;   
}
.reserve .text-1 h1{
    font-size: 60px;
    font-weight: bolder;
    color: #fff;
    padding-bottom: 20px;
}
.reserve .text-1 p{
    color: #fff;
    font-size: 20px;
    padding-bottom: 20px;
}

.reserve .text-1 .spa-btn{
    padding: 10px 20px;
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 22px;
    transition: 0.8s;
}

.reserve .text-1 .spa-btn:hover{
    background-color: #fff;
    color: black;
}

.testi{
    width: 100%;
    height: 80vh;
}
.testi h1{
    color: #030d57;
    font-size: 50px;
    text-align: center;
}
.testi hr{
    width: 10%;
    margin-left: 45%;
    text-align: center;
}


